table{
    border: black solid;
    width: 100%;
    height: 50px;
    border-collapse: collapse;
    background-color: cadetblue;
}
th,td{
    border: black solid;
}
#search{
    width: 25%;
    height: 25px;
}
#button_search{
    height: 30px;
}
#button_add{
    height: 40px;
    width: 60px ;
}
